html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.container {
  max-width: 400px;
}

.card-img-top {
  padding: 10px;
  border-radius: 8% !important;
  background-color: hsl(0, 0%, 100%);

}

.title {
  font-weight: 700;
  color: hsl(218, 44%, 22%)v;
}

.content {
  font-size: 14px;
  font-weight: 400;
  color: hsl(220, 15%, 55%) ;
}